html {
	-webkit-font-smoothing: antialiased;
	}


body { 
	background-color: #eeeeee;
	font-family: 'Merriweather', serif;
	margin: 0 auto;
	font-size: 19px;
	line-height: 31px;
	color: #404040;
	text-align: left;	
	}
	
h1 { 
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 48px;
	line-height: 58px;
	letter-spacing: -1px;
	color: #f0f0f0;
	}	
	
h2 { 
	font-family: 'Open Sans', Helvetica, sans-serif; 
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	}	
	
	
a { 
	color: #2777bc;
	text-decoration: none;
	}	
	
a:hover { 
	color: #377ebc;
	text-decoration: underline;
	}	

.block-link {
	display: block;	
	}	
	
	
.intro { 
	background-color: #808080;
	padding-top: 120px;
	padding-bottom: 120px;
	color: #ffffff;
	}
	
.br-mobile {
	display: none;
	}	

.content { 
	margin : auto;
	max-width: 620px;
	padding: 0 40px;
	}
	
.content:after {
 	content: "";
	display: table;
	clear: both;
	}	
		
.about { 
	padding-top: 120px;
	padding-bottom: 100px;
	}
	
.work { 
	padding-bottom: 120px;
	}
	
.work-column-left {
	width: 48%;
	margin-right: 2%;
	float: left;
	}
	
.work-column-right {
	width: 48%;
	margin-left: 2%;
	float: left;
	}
	
.work-column-left, .work-column-right a {
	line-height: 36px;	
	}

.contact { 
	background-color: #377ebb;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 48px;
	line-height: 58px;
	color: #1e4465;
	letter-spacing: -1px;
	padding-top: 40px;
	padding-bottom: 120px;
	}

.contact h2 { 
	font-family: 'Open Sans', Helvetica, sans-serif; 
	color: #1e4465;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0px;
	}

.contact a { 
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 48px;
	line-height: 58px;
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: color .1s linear;
	}

.contact a:after { 
	content: "/";
	padding: 0 15px 0 20px;
	color: #1e4465;
	}

.contact a:last-child:after {
	display: none;
	}

.contact .email:hover { 
	color: #dd6253;
	}
	
.contact .twitter:hover { 
	color: #7adeff;
	}
	
.contact .linkedin:hover { 
	color: #5ba5ca;
	}
	
.contact .instagram:hover { 
	color: #dfaf90;
	}
	
.contact .dribbble:hover { 
	color: #ea76a3;
	}
	
	
.footer { 
	background-color: #20486b;
	font-family: 'Merriweather', serif;
	font-size: 12px;
	line-height: 21px;
	color: #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;
	}
	
.footer a { 
	color: #ffffff;
	text-decoration: underline;
	}
	
.footer a:hover { 
	color: #ffffff;
	text-decoration: none;
	}


@media (max-width: 346px) {
/*Styles up to 346px */

.br-mobile {
	display: inline;
	}

.contact a:after { 
	display: none;
	}

.contact a {
	display: block;
	}
	
}

	
@media (max-width: 600px) {
/*Styles up to 600px */

body { 
	font-size: 16px;
	line-height: 26px;	
	}
	
h1 { 
	font-size: 32px;
	line-height: 42px;
	}
	
h2 { 
	font-size: 12px;
	}

	
.intro { 
	padding-top: 45px;
	padding-bottom: 60px;
	}
		

.about { 
	padding-top: 60px;
	padding-bottom: 40px;
	}
	
.content { 
	padding: 0 20px;
	}
	
.work-column-left, .work-column-right {
	width: 100%;
	margin: 0;
	}
	
.work-column-left, .work-column-right a {
	line-height: 32px;	
	}	

.work { 
	padding-bottom: 60px;
	}	

		
.contact { 
	font-size: 32px;
	line-height: 44px;
	padding-bottom: 60px;
	}
		
.contact a {
	font-size: 32px;
	line-height: 44px;
	}
	
.contact h2 { 
	font-size: 12px;
	}	
	
.footer { 
	padding-top: 10px;
	padding-bottom: 10px;
	}	
}	
	
@media (min-width: 1100px) {
/*Styles for 1100px and up */

body { 
	font-size: 21px;
	line-height: 36px;
	}
	
h1 { 
	font-size: 52px;
	line-height: 62px;
	letter-spacing: -2px;
	}
	
.content { 
	max-width: 700px;
	}
	
.contact { 
	font-size: 52px;
	line-height: 62px;
	letter-spacing: -2px;
	}
		
.contact a {
	font-size: 52px;
	line-height: 62px;
	letter-spacing: -2px;
	}
	
}	
